
%h1= t(".bitcoins.title")
%div{:style => "float:left; width: 50%" }
  %div{:style => "line-height: 30pt;" }
    %p
      %strong= t(".bitcoins.address") + ":"
      = link_to @current_user.bitcoin_address, "bitcoin:#{@current_user.bitcoin_address}"
    %p
      %strong= t(".bitcoins.conf_rqd") + ":"
      = Transfer::MIN_BTC_CONFIRMATIONS
      = t(".bitcoins.conf_rqd_unit")
    %p
      %strong= t(".bitcoins.conf_time") + ":"
      = Transfer::MIN_BTC_CONFIRMATIONS * 10
      = t(".bitcoins.conf_time_unit")
  %p
    = t(".bitcoins.add_info_html", :tx_address => "http://blockchain.info/address/#{@current_user.bitcoin_address}")

%div{:style => "float:left" }
  = image_tag(qrcode_image_path(current_user.bitcoin_address), :size => "120x120")
%div{:style => "clear:both;" }
%h1= t(".deposit_eur_title")

%p= t(".deposit_form")

%br
= form_for @deposit, :as => :deposit, :url => account_deposits_path do |f|
  = errors_for(@deposit, :translated_message => t(".error"), :include_nested => :bank_account)
  
  -# custom script to update 'will receive' & 'amount' boxes
  %script
    $(document).ready(function(e) {
    
    $('#deposit_amount').change(function() {
    
    var txtAmtval = $(this).val();
    
    $('#will_receive').val(txtAmtval * (1-#{@deposit_rate}));
        
    });
    
    $('#will_receive').change(function() {
    
    var txtAmtval = $(this).val();
    
    $('#deposit_amount').val(txtAmtval * (1+#{@deposit_rate}));
        
    });
    
    });
  
  .form-field
    = f.label :currency
    = f.select :currency, options_from_collection_for_select(@currencies_deposit, 'code', I18n.locale, @deposit.currency)
    -

  .form-field
    = f.label :amount
    = f.text_field :amount, :value => (@deposit.amount)? "" : @deposit.amount, :autocomplete => "off"
  
  .form-field
    = label_tag :will_receive, t(".will_receive")
    = text_field_tag :will_receive, '%.2f' % (current_user.max_withdraw_for(@deposit.currency)*(1-@deposit_rate))
    
  .form-field
    = f.submit :value => t(".submit"), :class => "submit"
%br





