%h1
  Deposit no.
  %span.fixed= @deposit.id

%table.default.details
  %tr
    %th= t("activerecord.attributes.transfer.id")
    %td.fixed= @deposit.id

  %tr
    %th= t("activerecord.attributes.transfer.created_at")
    %td= l(@deposit.created_at)

  %tr
    %th= t("activerecord.attributes.transfer.state")
    %td= transfer_state(@deposit.state, :message => t(".state.#{@deposit.state}").html_safe, :icon => true)

  %tr
    %th= t("activerecord.attributes.transfer.amount")
    %td.fixed= number_to_currency(@deposit.amount, :unit => "", :precision => 3)

  %tr
    %th= t("activerecord.attributes.transfer.currency")
    %td
      = currency_icon_for(@deposit.currency)
      = @deposit.currency

  - unless @deposit.comment.blank?
    %tr
      %th= t("activerecord.attributes.transfer.comment")
      %td
        %pre= @deposit.comment 
        
= render :partial => 'bankinfo', :account_id => "sdf"
