#user-information
  %p
    - if current_user
      %p.identification
        = t(".signed_in_as")
        = link_to @current_user.name, edit_user_path
        = "-"
        = link_to t(".logout"), destroy_session_path(:user)
        %span#countdown{ :data => { "delay" => Devise.timeout_in.to_i, "logout-path" => destroy_user_session_path } }
      %p
        %strong
          = t(".balance") + ":"
        - @currencies.each_with_index do |c, index|
          %strong
            = c.display
          = number_to_currency(@current_user.balance(c.code), separator: ",", unit: "", delimiter: ".", precision: c.code=="BTC"? 5 : 2)
          = index!=(@currencies.length - 1)? " | " : ""
          
          -#= "#{number_to_currency(Transfer.round_amount(@current_user.balance(c.code), c.code), unit: c.code, separator: ",", delimiter: ".")}"
      
    - else
      = link_to t(".sign_up"), new_registration_path(:user)
      = "|"
      = link_to t(".sign_in"), new_session_path(:user)

